.container {
    background: blueviolet;
}

.navbar {
    height: 100px;
    background: rgb(202, 38, 139);
}

.main {
    background: rgb(176, 166, 185);
}

a {
    height: 30px;
    width: 50px;
    background: chocolate;
}